<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPuzzleEventAdminService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPuzzleEventAdminService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://adminapi.zygames.com/Event/QQSM/201604/PuzzleEvent/PuzzleEventAdminService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPuzzleEventAdminService"
                contract="PuzzleEventAdminService.IPuzzleEventAdminService"
                name="BasicHttpBinding_IPuzzleEventAdminService" />
            <endpoint address="net.tcp://web1:7100/Event/QQSM/201604/PuzzleEvent/PuzzleEventAdminService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPuzzleEventAdminService"
                contract="PuzzleEventAdminService.IPuzzleEventAdminService"
                name="NetTcpBinding_IPuzzleEventAdminService" />
        </client>
    </system.serviceModel>
</configuration>