<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICampEventsAdminService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICampEventsAdminService" maxBufferPoolSize="52428800" maxBufferSize="6553600" maxReceivedMessageSize="6553600" portSharingEnabled="true">
                  <security mode="None">
                    <transport clientCredentialType="None"></transport>
                  </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://adminapi.zygames.com/CampEvents/CampEventsAdminService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICampEventsAdminService"
                contract="CampEventsAdminService.ICampEventsAdminService"
                name="BasicHttpBinding_ICampEventsAdminService" />
            <endpoint address="net.tcp://web1:7100/CampEvents/CampEventsAdminService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICampEventsAdminService"
                contract="CampEventsAdminService.ICampEventsAdminService"
                name="NetTcpBinding_ICampEventsAdminService" />
        </client>
    </system.serviceModel>
</configuration>