<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWeaponDesignAdminService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWeaponDesignAdminService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://adminapi.zygames.com/Event/QQSM/201512/DesignUpload/WeaponDesignAdminService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWeaponDesignAdminService"
                contract="WeaponDesignAdminService.IWeaponDesignAdminService"
                name="BasicHttpBinding_IWeaponDesignAdminService" />
            <endpoint address="net.tcp://web1:7100/Event/QQSM/201512/DesignUpload/WeaponDesignAdminService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWeaponDesignAdminService"
                contract="WeaponDesignAdminService.IWeaponDesignAdminService"
                name="NetTcpBinding_IWeaponDesignAdminService" />
        </client>
    </system.serviceModel>
</configuration>