<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWeaponDesignService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWeaponDesignService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://event.userapi.zygames.com/qqsm/201705/DesignUpload/WeaponDesignService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWeaponDesignService"
                contract="WeaponDesignService.IWeaponDesignService" name="BasicHttpBinding_IWeaponDesignService" />
            <endpoint address="net.tcp://web1:7151/qqsm/201705/DesignUpload/WeaponDesignService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWeaponDesignService"
                contract="WeaponDesignService.IWeaponDesignService" name="NetTcpBinding_IWeaponDesignService" />
        </client>
    </system.serviceModel>
</configuration>