<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonLibs.Common" version="1.0.0.9" targetFramework="net40" />
  <package id="CommonLibs.EnterpriseLibrary" version="1.0.0.0" targetFramework="net40" />
  <package id="LogBLL" version="1.0.0.6" targetFramework="net40" />
  <package id="ObjectUtil" version="1.0.0.46" targetFramework="net40" />
</packages>